@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <h1>Welcome to the EulerSite!</h1>
    <p>The name is a bit of a misnomer as it's really just me sticking random problems I've solved on a website while testing asp.net vnext</p>
    <p>Currently all this does is let you run code that I've written to solve various problems and reports whether it matches the expected result. So basically a web UI for some unit testing. I would have used xunit as well but it isn't currently working for me so I figure I'll wait and see if some kinks get worked out.</p>
    <p>It will also let you look at my code using githubs API.</p>

    <h2>TODO</h2>
    <ul>
        <li>Get xunit working</li>
        <li>Could let people put in answers instead</li>
        <li>Uploading DLL's to add problems would be cool, probably total pain in the ass though</li>
        <li>Loading spinners?</li>
        <li>As an excercise I'd like to flush out account management and external logins</li>
    </ul>

</div>
